<!-- Compare Properties Widget
    ================================================== -->
<div class="compare-slide-menu">

    <div class="csm-trigger"></div>

    <div class="csm-content">
        <h4>Compare Properties <div class="csm-mobile-trigger"></div>
        </h4>

        <div class="csm-properties">

            <!-- Property -->
            <div class="listing-item compact">
                <a href="single-property-page-2.html" class="listing-img-container">
                    <div class="remove-from-compare"><i class="fa fa-close"></i></div>
                    <div class="listing-badges">
                        <span>For Sale</span>
                    </div>
                    <div class="listing-img-content">
                        <span class="listing-compact-title">Eagle Apartments <i>$420,000</i></span>
                    </div>
                    <img src="images/listing-01.jpg" alt="">
                </a>
            </div>

            <!-- Property -->
            <div class="listing-item compact">
                <a href="single-property-page-2.html" class="listing-img-container">
                    <div class="remove-from-compare"><i class="fa fa-close"></i></div>
                    <div class="listing-badges">
                        <span>For Sale</span>
                    </div>
                    <div class="listing-img-content">
                        <span class="listing-compact-title">Selway Apartments <i>$420,000</i></span>
                    </div>
                    <img src="images/listing-03.jpg" alt="">
                </a>
            </div>

            <!-- Property -->
            <div class="listing-item compact">
                <a href="single-property-page-2.html" class="listing-img-container">
                    <div class="remove-from-compare"><i class="fa fa-close"></i></div>
                    <div class="listing-badges">
                        <span>For Sale</span>
                    </div>
                    <div class="listing-img-content">
                        <span class="listing-compact-title">Oak Tree Villas <i>$535,000</i></span>
                    </div>
                    <img src="images/listing-05.jpg" alt="">
                </a>
            </div>

        </div>

        <div class="csm-buttons">
            <a href="compare-properties.html" class="button">Compare</a>
            <a href="#" class="button reset">Reset</a>
        </div>
    </div>

</div>
<!-- Compare Properties Widget / End -->