% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<!-- Titlebar
================================================== -->
<div class="parallax titlebar" data-background="images/listings-parallax.jpg" data-color="#333333"
    data-color-opacity="0.7" data-img-width="800" data-img-height="505">

    <div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Listings</h2>
                    <span>Grid Layout With Sidebar</span>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li>Listings</li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}