{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>My Profile</h2>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>My Profile</li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>


<!-- Content
================================================== -->
<div class="container">
    <div class="row">


        <!-- Sidebar Widgets -->
        {%  include 'accounts/_sidebar.html' %}
        <!-- Sidebar / End -->

        <div class="col-md-8">

            <!-- Message Alert div -->
            {%  include 'partials/_message_alert.html' %}
            <!-- Message Alert div  -->
            <div class="row">
                <form method="post" enctype="multipart/form-data">

                    <div class="col-md-8 my-profile">



                        <h4 class="margin-top-0 margin-bottom-30">My Account</h4>
                        {% csrf_token %}
                        {{ u_form }}
                        <label>Your Name</label>
                        {{ p_form.name}}
                        <label>Title</label>
                        {{ p_form.title}}
                        <label>Phone</label>
                        {{ p_form.phone}}
                        <h4 class="margin-top-50 margin-bottom-25">About Me</h4>
                        {{ p_form.description}}


                        <h4 class="margin-top-50 margin-bottom-0">Social</h4>

                        <label><i class="fa fa-twitter"></i> Twitter</label>
                        <input value="https://www.twitter.com/" type="text">

                        <label><i class="fa fa-facebook-square"></i> Facebook</label>
                        <input value="https://www.facebook.com/" type="text">

                        <label><i class="fa fa-google-plus"></i> Google+</label>
                        <input value="https://www.google.com/" type="text">

                        <label><i class="fa fa-linkedin"></i> Linkedin</label>
                        <input value="https://www.linkedin.com/" type="text">





                    </div>

                    <div class="col-md-4">
                        <!-- Avatar -->
                        <div class="edit-profile-photo">
                            <img src="{{user.profile.image.url}}" alt="">
                            <div class="change-photo-btn">
                                <div class="photoUpload">
                                    <span><i class="fa fa-upload"></i> Upload Photo</span>

                                    {{ p_form.image}}

                                    {%comment%}
                                    <input type="file" class="upload" />
                                    {%endcomment%}
                                </div>

                            </div>

                        </div>

                        <button type="submit" class="button margin-top-20 margin-bottom-20">Save Changes</button>

                    </div>


                </form>

            </div>
        </div>

    </div>
</div>


{% endblock %}