{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar">
    <div class="container">

    </div>
</div>


<!-- Contact
================================================== -->

<!-- Container -->
<div class="container">

    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <!-- Message Alert div -->
            {%  include 'partials/_message_alert.html' %}
            <!-- Message Alert div  -->

            <!--Tab -->
            <div class="my-account style-1 margin-top-5 margin-bottom-40">
                <h3 class="headline centered margin-bottom-10 margin-top-10">Sign In <span>Sign In to submit
                        properties</span></h3>



                <div class="tabs-container alt">

                    <!-- Login -->
                    <div class="tab-content" id="tab1" style="display: none;">
                        <form method="post" class="login">

                            {% csrf_token %}

                            <p class="form-row form-row-wide">
                                {{ form }}
                            </p>
                            {% comment %}
                            <p class="form-row form-row-wide">

                                <label for="username">Username:
                                    <i class="im im-icon-Male"></i>
                                    <input type="text" class="input-text" name="username" id="username" value="" />
                                </label>
                            </p>
                            <p class="form-row form-row-wide">
                                <label for="password">Password:
                                    <i class="im im-icon-Lock-2"></i>
                                    <input class="input-text" type="password" name="password" id="password" />
                                </label>
                            </p>
                            {% endcomment %}

                            <p class="form-row">
                                <input type="submit" class="button centered border margin-top-10" name="login"
                                    value="Login" />

                                <label for="rememberme" class="rememberme">
                                    <input name="rememberme" type="checkbox" id="rememberme" value="forever" /> Remember
                                    Me</label>
                            </p>

                            <p class="lost_password">
                                <a href="{% url 'password_reset' %}">Lost Your Password?</a>
                                | Not a member? <a href="{% url 'user_register' %}" class="blue-text">Sign Up</a>
                            </p>

                        </form>
                    </div>



                </div>
            </div>


            <button class="button social-login via-gplus"><i class="fa fa-google-plus"></i> Log In With Google
                Plus</button>
            <button class="button social-login via-facebook"><i class="fa fa-facebook"></i> Log In With
                Facebook</button>



        </div>
    </div>

</div>
<!-- Container / End -->


{% endblock %}