<!-- Widget -->
<div class="col-md-4">
    <div class="sidebar left">

        <div class="my-account-nav-container">

            <ul class="my-account-nav">
                <li class="sub-nav-title">Manage Account</li>
                <li><a href="{% url 'user_profile' %}"><i class="sl sl-icon-user"></i> My Profile</a></li>
                <li><a href="my-bookmarks.html"><i class="sl sl-icon-star"></i> Bookmarked Listings</a></li>
            </ul>

            <ul class="my-account-nav">
                <li class="sub-nav-title">Manage Listings</li>
                <li><a href="{% url 'property:user_property' %}" class="current"><i class="sl sl-icon-docs"></i> My
                        Properties</a></li>
                <li><a href="{% url 'blog:user_post' %}"><i class="sl sl-icon-action-redo"></i> My Posts
                    </a></li>
                <li><a href="submit-property.html"><i class="sl sl-icon-action-redo"></i> Submit New
                        Property</a></li>
            </ul>

            <ul class="my-account-nav">
                <li><a href="change-password.html"><i class="sl sl-icon-lock"></i> Change Password</a></li>

                <li>
                    <a href="javascript:{document.getElementById('logout').submit()}">
                        <i class="sl sl-icon-power"></i> Log Out</a>
                    </a>
                    <form action="{% url 'logout' %}" method="POST" id="logout">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>
                </li>
            </ul>

        </div>

    </div>
</div>