{% extends 'base.html' %}
{% block content %}


<!-- Titlebar
================================================== -->
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Blog</h2>
                <span>Keep up to date with the latest news</span>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>Blog</li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>


<!-- Content
================================================== -->
<div class="container">

    <!-- Blog Posts -->
    <div class="blog-page">
        <div class="row">
            <div class="col-md-8">

                <!-- Blog Post -->
                <div class="blog-post">

                    <!-- Img -->
                    <a href="blog-post.html" class="post-img">
                        <img src="images/blog-post-01a.jpg" alt="">
                    </a>

                    <!-- Content -->
                    <div class="post-content">
                        <h3><a href="blog-post.html">8 Tips to Help You Finding New Home</a></h3>

                        <ul class="post-meta">
                            <li>Novemer 12, 2016</li>
                            <li><a href="#">5 Comments</a></li>
                        </ul>

                        <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc,
                            rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus
                            facilisis.</p>

                        <a href="blog-post.html" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
                    </div>

                </div>
                <!-- Blog Post / End -->


                <!-- Blog Post -->
                <div class="blog-post">

                    <!-- Img -->
                    <a href="blog-post.html" class="post-img">
                        <img src="images/blog-post-02a.jpg" alt="">
                    </a>

                    <!-- Content -->
                    <div class="post-content">
                        <h3><a href="blog-post.html">Bedroom Colors You'll Never Regret</a></h3>

                        <ul class="post-meta">
                            <li>November 9, 2016</li>
                            <li><a href="#">5 Comments</a></li>
                        </ul>

                        <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc,
                            rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus
                            facilisis.</p>

                        <a href="blog-post.html" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
                    </div>

                </div>
                <!-- Blog Post / End -->


                <!-- Blog Post -->
                <div class="blog-post">

                    <!-- Img -->
                    <a href="blog-post.html" class="post-img">
                        <img src="images/blog-post-03a.jpg" alt="">
                    </a>

                    <!-- Content -->
                    <div class="post-content">
                        <h3><a href="blog-post.html">What to Do a Year Before Buying Apartment</a></h3>

                        <ul class="post-meta">
                            <li>October 26, 2016</li>
                            <li><a href="#">3 Comments</a></li>
                        </ul>

                        <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc,
                            rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus
                            facilisis.</p>

                        <a href="blog-post.html" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
                    </div>

                </div>
                <!-- Blog Post / End -->


                <!-- Pagination -->
                <div class="clearfix"></div>
                <div class="pagination-container">
                    <nav class="pagination">
                        <ul>
                            <li><a href="#" class="current-page">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </nav>

                    <nav class="pagination-next-prev">
                        <ul>
                            <li><a href="#" class="prev">Previous</a></li>
                            <li><a href="#" class="next">Next</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="clearfix"></div>

            </div>

            <!-- Blog Posts / End -->


            <!-- Widgets -->
            <div class="col-md-4">
                <div class="sidebar right">

                    <!-- Widget -->
                    <div class="widget">
                        <h3 class="margin-top-0 margin-bottom-25">Search Blog</h3>
                        <div class="search-blog-input">
                            <div class="input"><input class="search-field" type="text" placeholder="Type and hit enter"
                                    value="" /></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Widget / End -->


                    <!-- Widget -->
                    <div class="widget">
                        <h3>Got any questions?</h3>
                        <div class="info-box margin-bottom-10">
                            <p>If you are having any questions, please feel free to ask.</p>
                            <a href="contact.html" class="button fullwidth margin-top-20"><i
                                    class="fa fa-envelope-o"></i> Drop Us a Line</a>
                        </div>
                    </div>
                    <!-- Widget / End -->


                    <!-- Widget -->
                    <div class="widget">

                        <h3>Popular Posts</h3>
                        <ul class="widget-tabs">

                            <!-- Post #1 -->
                            <li>
                                <div class="widget-content">
                                    <div class="widget-thumb">
                                        <a href="blog-full-width-single-post.html"><img src="images/blog-widget-03.jpg"
                                                alt=""></a>
                                    </div>

                                    <div class="widget-text">
                                        <h5><a href="blog-full-width-single-post.html">What to Do a Year Before Buying
                                                Apartment </a></h5>
                                        <span>October 26, 2016</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>

                            <!-- Post #2 -->
                            <li>
                                <div class="widget-content">
                                    <div class="widget-thumb">
                                        <a href="blog-full-width-single-post.html"><img src="images/blog-widget-02.jpg"
                                                alt=""></a>
                                    </div>

                                    <div class="widget-text">
                                        <h5><a href="blog-full-width-single-post.html">Bedroom Colors You'll Never
                                                Regret</a></h5>
                                        <span>November 9, 2016</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>

                            <!-- Post #3 -->
                            <li>
                                <div class="widget-content">
                                    <div class="widget-thumb">
                                        <a href="blog-full-width-single-post.html"><img src="images/blog-widget-01.jpg"
                                                alt=""></a>
                                    </div>

                                    <div class="widget-text">
                                        <h5><a href="blog-full-width-single-post.html">8 Tips to Help You Finding New
                                                Home</a></h5>
                                        <span>November 12, 2016</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>

                        </ul>

                    </div>
                    <!-- Widget / End-->


                    <!-- Widget -->
                    <div class="widget">
                        <h3 class="margin-top-0 margin-bottom-25">Social</h3>
                        <ul class="social-icons rounded">
                            <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                            <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                        </ul>

                    </div>
                    <!-- Widget / End-->

                    <div class="clearfix"></div>
                    <div class="margin-bottom-40"></div>
                </div>
            </div>
        </div>
        <!-- Sidebar / End -->


    </div>
</div>



{% endblock %}