{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Blog</h2>
                <span>Keep up to date with the latest news</span>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Blog</li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>


<!-- Content
================================================== -->
<div class="container">

    <!-- Blog Posts -->
    <div class="blog-page">
        <div class="row">
            <div class="col-md-8">

                {% for post in post_list %}

                <!-- Blog Post -->
                <div class="blog-post">

                    <!-- Img -->
                    <a href="{{ post.get_absolute_url }}" class="post-img">
                        <img src="{{ post.thumbnail.url }}" alt="">
                    </a>

                    <!-- Content -->
                    <div class="post-content">
                        <h3><a href="{{ post.get_absolute_url }}">{{ post.title}}</a></h3>


                        <ul class="post-meta">
                            <li> <i class="fa fa-user"></i> {{ post.author.user.username }}</li>
                            <li> <i class="fa fa-clock-o"></i> {{ post.timestamp|naturaltime}}</li>
                            <li> <i class="fa fa-comments"></i><a href="#"> {{ post.comments.count}}</a></li>
                            <i class="fa fa-list-alt"></i>
                            {% for cat in post.categories.all %}
                            <li> </i><a href="#"> {{ cat }}</a></li>
                            {% endfor %}
                        </ul>

                        <p>{{ post.overview|truncatechars:255}}</p>

                        <a href="{{ post.get_absolute_url }}" class="read-more">Read More <i
                                class="fa fa-angle-right"></i></a>
                    </div>

                </div>
                <!-- Blog Post / End -->
                {% endfor %}

                <!-- Pagination -->
                <div class="clearfix"></div>
                {% if post_list.has_other_pages %}
                <!-- Pagination -->
                <div class="pagination-container">


                    <nav class="pagination">
                        <ul>
                            {% for i in post_list.paginator.page_range %}
                            {% if post_list.number == i %}
                            <li><a class="current-page">{{i}}</a></li>
                            {% else %}
                            <li><a href="?{{ page_request_var }}={{i}}">{{i}}</a></li>
                            {% comment %}
                            <li class="blank">...</li>
                            <li><a href="?{{ page_request_var }}={{i.previous_page_number }}">22</a></li>
                            {% endcomment %}
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>

                    <nav class="pagination-next-prev">
                        <ul>
                            {% if post_list.has_previous %}
                            <li><a href="?{{ page_request_var }}={{ post_list.previous_page_number }}"
                                    class="prev">Previous</a></li>
                            {% else %}
                            <li class="disabled"></li>
                            {% endif %}

                            {% if post_list.has_next %}
                            <li><a href="?{{ page_request_var }}={{ post_list.next_page_number }}" class="next">Next</a>
                            </li>
                            {% else %}
                            <li class="disabled"></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <!-- Pagination / End -->
                {% endif %}
                <div class="clearfix"></div>

            </div>
            <!-- class="col-md-8 / end -->

            <!-- Side Bar Widgets  -->
            {%  include 'blog/_sidebar.html' with category_count=category_count post_latest=post_latest %}
            <!-- Sidebar / End -->

        </div>
        <!-- class row / End -->


    </div>
    <!-- Blog Posts / End -->
</div>
<!-- Container/ End -->



{% endblock %}