{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<!-- Banner
================================================== -->
<div class="parallax" data-background="images/home-parallax.jpg" data-color="#36383e" data-color-opacity="0.45"
	data-img-width="2500" data-img-height="1600">
	<div class="parallax-content">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<!-- Main Search Container -->
					<div class="main-search-container">
						<h2>Find Your Dream Home</h2>

						<!-- Main Search -->
						<form class="main-search-form" method="GET" action="{% url 'property:property_search' %}">

							<!-- Type -->
							<div class="search-type">
								<label class="active"><input class="first-tab" name="tab" checked="checked" type="radio"
										value="Any Status">Any Status</label>
								<label><input name="tab" type="radio" value="For Sale">For Sale</label>
								<label><input name="tab" type="radio" value="For Rent"> For Rent</label>
								<div class="search-type-arrow"></div>
							</div>


							<!-- Box -->
							<div class="main-search-box">

								<!-- Main Search Input -->
								<div class="main-search-input larger-input">
									<input type="text" class="ico-01" id="autocomplete-input" name="keyword"
										placeholder="Enter address e.g. street, city and state or zip" value="" />
									<button class="button">Search</button>
								</div>

								<!-- Row -->
								<div class="row with-forms">

									<!-- Property Type -->
									<div class="col-md-4">
										<select data-placeholder="Any Type" class="chosen-select-no-single"
											name="category">
											<option>Any Type</option>
											{% for key,value in type_choices.items %}
											<option value="{{ key }}">{{ value }}</option>
											{% endfor %}
										</select>
									</div>


									<!-- Min Price -->
									<div class="col-md-4">

										<!-- Select Input -->
										<div class="select-input">
											<input type="text" placeholder="Min Price" data-unit="USD" name="min_price">
										</div>
										<!-- Select Input / End -->

									</div>


									<!-- Max Price -->
									<div class="col-md-4">

										<!-- Select Input -->
										<div class="select-input">
											<input type="text" placeholder="Max Price" data-unit="USD" name="max_price">
										</div>
										<!-- Select Input / End -->

									</div>

								</div>
								<!-- Row / End -->


								<!-- More Search Options -->
								<a href="#" class="more-search-options-trigger" data-open-title="More Options"
									data-close-title="Less Options"></a>

								<div class="more-search-options">
									<div class="more-search-options-container">

										<!-- Row -->
										<div class="row with-forms">

											<!-- Min Area -->
											<div class="col-md-6">

												<!-- Select Input -->
												<div class="select-input">
													<input type="text" placeholder="Min Area" data-unit="Sq Ft"
														name="min_area">
												</div>
												<!-- Select Input / End -->

											</div>

											<!-- Max Area -->
											<div class="col-md-6">

												<!-- Select Input -->
												<div class="select-input">
													<input type="text" placeholder="Max Area" data-unit="Sq Ft"
														name="max_area">
												</div>
												<!-- Select Input / End -->

											</div>

										</div>
										<!-- Row / End -->


										<!-- Row -->
										<div class="row with-forms">

											<!-- Bed -->
											<div class="col-md-6">
												<select data-placeholder="Beds" class="chosen-select-no-single"
													name="bed">
													<option label="blank"></option>
													<option>Beds (Any)</option>
													{% for key,value in bedroom_choices.items %}
													<option value="{{ key }}">{{ value }}</option>
													{% endfor %}>
												</select>
											</div>

											<!-- Bath -->
											<div class="col-md-6">
												<select data-placeholder="Baths" class="chosen-select-no-single"
													name="bath">
													<option label="blank"></option>
													<option>Baths (Any)</option>
													{% for key,value in bathroom_choices.items %}
													<option value="{{ key }}">{{ value }}</option>
													{% endfor %}
												</select>
											</div>

										</div>
										<!-- Row / End -->


									</div>
								</div>
								<!-- More Search Options / End -->


							</div>
							<!-- Box / End -->

						</form>
						<!-- Main Search -->

					</div>
					<!-- Main Search Container / End -->

				</div>
			</div>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline margin-bottom-25 margin-top-65">Newly Added</h3>
		</div>

		<!-- Carousel -->
		<div class="col-md-12">
			<div class="carousel">

				{% if prop_list %}
				{% for property in prop_list %}

				<!-- Listing Item -->
				<div class="carousel-item">
					<div class="listing-item">

						<a href="{% url 'property:property_detail' property.slug %}" class="listing-img-container">

							<div class="listing-badges">
								<span class="featured">Featured</span>
								<span>{{property.property_type}}</span>
							</div>

							<div class="listing-img-content">
								<span class="listing-price">$ {{property.price | intcomma}}</span>
								<span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
								<span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
							</div>

							<div class="listing-carousel">
								<div><img src="{{property.photo_main.url}}" alt=""></div>
								<div><img src="images/listing-01b.jpg" alt=""></div>
								<div><img src="images/listing-01c.jpg" alt=""></div>
							</div>

						</a>

						<div class="listing-content">

							<div class="listing-title">
								<h4><a href="{% url 'property:property_detail' property.slug %}">{{property.title}}</a>
								</h4>
								<a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"
									class="listing-address popup-gmaps">
									<i class="fa fa-map-marker"></i>
									{{property.address}}
								</a>
							</div>

							<ul class="listing-features">
								<li>Area <span>{{property.sqft}} sq ft</span></li>
								<li>Bedrooms <span>{{property.bedrooms}}</span></li>
								<li>Bathrooms <span>{{property.bathrooms}}</span></li>
							</ul>

							<div class="listing-footer">
								<a href="#"><i class="fa fa-user"></i> {{property.realtor.first_name}}
									{{property.realtor.last_name}}</a>
								<span><i class="fa fa-calendar-o"></i> {{property.created | naturaltime}}</span>
							</div>

						</div>

					</div>
				</div>
				<!-- Listing Item / End -->
				{% endfor %}
				{% else %}
				<div cclass="listing-item">
					<p>No Listings Avaialable yet</p>
				</div>
				{% endif %}




			</div>
		</div>
		<!-- Carousel / End -->

	</div>
</div>



<!-- Fullwidth Section -->
<section class="fullwidth margin-top-105" data-background-color="#f7f7f7">

	<!-- Box Headline -->
	<h3 class="headline-box">What are you looking for?</h3>

	<!-- Content -->
	<div class="container">
		<div class="row">

			<div class="col-md-3 col-sm-6">
				<!-- Icon Box -->
				<div class="icon-box-1">

					<div class="icon-container">
						<i class="im im-icon-Office"></i>
						<div class="icon-links">
							<a href="listings-grid-standard-with-sidebar.html">For Sale</a>
							<a href="listings-grid-standard-with-sidebar.html">For Rent</a>
						</div>
					</div>

					<h3>Apartments</h3>
					<p>Aliquam dictum elit vitae mauris facilisis, at dictum urna dignissim donec vel lectus vel felis.
					</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<!-- Icon Box -->
				<div class="icon-box-1">

					<div class="icon-container">
						<i class="im im-icon-Home-2"></i>
						<div class="icon-links">
							<a href="listings-grid-standard-with-sidebar.html">For Sale</a>
							<a href="listings-grid-standard-with-sidebar.html">For Rent</a>
						</div>
					</div>

					<h3>Houses</h3>
					<p>Aliquam dictum elit vitae mauris facilisis, at dictum urna dignissim donec vel lectus vel felis.
					</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<!-- Icon Box -->
				<div class="icon-box-1">

					<div class="icon-container">
						<i class="im im-icon-Car-3"></i>
						<div class="icon-links">
							<a href="listings-grid-standard-with-sidebar.html">For Sale</a>
							<a href="listings-grid-standard-with-sidebar.html">For Rent</a>
						</div>
					</div>

					<h3>Garages</h3>
					<p>Aliquam dictum elit vitae mauris facilisis, at dictum urna dignissim donec vel lectus vel felis.
					</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<!-- Icon Box -->
				<div class="icon-box-1">

					<div class="icon-container">
						<i class="im im-icon-Clothing-Store"></i>
						<div class="icon-links">
							<a href="listings-grid-standard-with-sidebar.html">For Sale</a>
							<a href="listings-grid-standard-with-sidebar.html">For Rent</a>
						</div>
					</div>

					<h3>Commercial</h3>
					<p>Aliquam dictum elit vitae mauris facilisis, at dictum urna dignissim donec vel lectus vel felis.
					</p>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- Fullwidth Section / End -->

<!-- Fullwidth Section -->
<section class="fullwidth margin-top-95 margin-bottom-0">

	<!-- Box Headline -->
	<h3 class="headline-box">Articles & Tips</h3>

	<div class="container">
		<div class="row">

			<div class="col-md-4">

				<!-- Blog Post -->
				<div class="blog-post">

					<!-- Img -->
					<a href="blog-post.html" class="post-img">
						<img src="images/blog-post-01.jpg" alt="">
					</a>

					<!-- Content -->
					<div class="post-content">
						<h3><a href="#">8 Tips to Help You Finding New Home</a></h3>
						<p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc,
							rutrum in malesuada vitae. </p>

						<a href="blog-post.html" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
				<!-- Blog Post / End -->

			</div>

			<div class="col-md-4">

				<!-- Blog Post -->
				<div class="blog-post">

					<!-- Img -->
					<a href="blog-post.html" class="post-img">
						<img src="images/blog-post-02.jpg" alt="">
					</a>

					<!-- Content -->
					<div class="post-content">
						<h3><a href="#">Bedroom Colors You'll Never Regret</a></h3>
						<p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc,
							rutrum in malesuada vitae. </p>

						<a href="blog-post.html" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
				<!-- Blog Post / End -->

			</div>

			<div class="col-md-4">

				<!-- Blog Post -->
				<div class="blog-post">

					<!-- Img -->
					<a href="blog-post.html" class="post-img">
						<img src="images/blog-post-03.jpg" alt="">
					</a>

					<!-- Content -->
					<div class="post-content">
						<h3><a href="#">What to Do a Year Before Buying Apartment</a></h3>
						<p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc,
							rutrum in malesuada vitae. </p>

						<a href="blog-post.html" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
				<!-- Blog Post / End -->

			</div>

		</div>
	</div>
</section>
<!-- Fullwidth Section / End -->


<!-- Flip banner -->
<a href="listings-half-map-grid-standard.html" class="flip-banner parallax" data-background="images/flip-banner-bg.jpg"
	data-color="#274abb" data-color-opacity="0.9" data-img-width="2500" data-img-height="1600">
	<div class="flip-banner-content">
		<h2 class="flip-visible">We help people and homes find each other</h2>
		<h2 class="flip-hidden">Browse Properties <i class="sl sl-icon-arrow-right"></i></h2>
	</div>
</a>
<!-- Flip banner / End -->














{% endblock %}