{% load static %}

{%  include 'partials/_head.html' %}

<body>

    <!-- Wrapper -->
    <div id="wrapper">


        <!-- Compare Properties Widget
    ================================================== -->
        {%  include 'partials/_compare.html' %}
        <!-- Compare Properties Widget / End -->


        <!-- Header Container
    ================================================== -->
        {%  include 'partials/_headermenu.html' %}
        <!-- Header Container / End -->



        <!--- TEMPLATES TAGS FOR PAGE EXTENSION-->
        {% block content %}{% endblock %}
        <!--- END TEMPLATES TAGS FOR PAGE EXTENSION-->


        <!-- Footer
    ================================================== -->
        {%  include 'partials/_footer.html' %}
        <!-- Footer / End -->


        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>




        <!-- Scripts
================================================== -->
        {%  include 'partials/_script.html' %}


    </div>
    <!-- Wrapper / End -->


</body>

</html>